p{
    color: black;
}
a.nblink{
    border-radius: 50px;
    padding: 0px 30px;
    margin: 0px 0px 0px 10px;
    color: cornflowerblue;
}
a.nblink:hover{
    background-color: cornflowerblue;
    color: white;
}
div.chungrey{
    box-sizing: border-box;
    background-color: rgb(241, 87, 87);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(241, 87, 87);
}
h4.ashcolor{
    font-size: 18px;
    color:rgb(77, 3, 3);
}
.mycrop{
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin: 5px 5px;
    border-radius: 5px;
}